Source: ros-melodic-microstrain-mips-client
Section: misc
Priority: optional
Maintainer: Pablo Iñigo Blasco <pablo@ibrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin, ros-melodic-microstrain-mips, ros-melodic-roscpp, ros-melodic-sensor-msgs, ros-melodic-std-msgs, ros-melodic-std-srvs, ros-noetic-smacc
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-microstrain-mips-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-microstrain-mips, ros-melodic-roscpp, ros-melodic-sensor-msgs, ros-melodic-std-msgs, ros-melodic-std-srvs, ros-noetic-smacc
Description: The microstrain_mips_client package
